header,
#heading,
section,
footer {
	padding: 50px;
}

.text-center {
 	text-align: center;
}

.text-right {
 	text-align: right;
}

#heading {
	background-color: yellow;
}

h2 {
	color: brown;
}

img {
	width: 200px;
	height: 200px;
	float: right;
}

#about {
	background-color: #84ffff;
}

#who {
	background-color: #f8bbd0;
}

#contact {
	background-color: #eeff41; 
}

/* .my-border{
	border: 10px outset grey;
	padding: 10px;
}
 */
